.before{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}
.dem0-container{
    display: flex;
    gap: 2rem;
background-color: #E9EDEE;
padding: 2rem 3rem 2rem 3rem;
}
.dem0-container img{
    width: 100%;
}

@media (max-width: 768px) {
.dem0-container{
    flex-direction: column;
}
.before{
    flex-direction: column;
}
}
@media (max-width: 1080px) {
.dem0-container{
    padding: 2rem;
}
}